body {
	font-family: Arial, Sans-serif;
	font-size: 0.9em;
}

#input {
	margin-top: 30px;
}

#error {
	font-weight: bold;
}

#result {
	margin-top: 30px;
}

#result input {
	font-size: 1em;
	font-style: italic;
	color: grey;
	border: none;
}

#info {
	font-weight: bold;
}