@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i,900,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 12px;
}

body {
    min-width: 640px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    /*background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);*/
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: absolute;
    top: 0px;
    text-align: center;
    width: 420px;
    height: 100px;
    padding: 0 30px;
    background-color: white;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1);
}

h1 {
    font-size: 3rem;
    background: -webkit-linear-gradient(hsl(220, 70%, 70%), hsl(220, 70%, 40%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 5px 5px hsla(0, 0%, 0%, 0.1);
}

form {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 30px 30px;
    border-radius: 0 0 5px 5px;
}

label {
    font-size: 1rem;
}

#start-date,
#start-time,
#end-date,
#end-time {
    height: 30px;
    padding-left: 5px;
}

#start-date,
#start-time,
#end-date,
#end-time,
#submit {
    border-style: none;
    outline: none;
}

#submit {
    margin-top: 30px;
    height: 50px;
    appearance: none;
    -webkit-appearance: none;
    font-family: "Karla", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    background-color: hsl(220, 100%, 60%);
}

#submit:active {
    background-color: hsl(220, 100%, 40%);
}

#result,
#form {
    width: 420px;
    background-color: white;
    box-shadow: 0 5px 10px hsla(0, 0%, 0%, 0.1);
}

#start {
    color: hsl(100, 100%, 20%);
}

#end {
    color: hsl(0, 100%, 20%);
}

#result {
    position: absolute;
    top: 540px;
    width: 440px;
    padding: 10px 20px;
    border-radius: 5px;
}